.display-wrapper{
    background: lightcyan;
    border-radius: 4px;
    margin: 10px;
    min-height: 100px;
    padding: 7px;
    display: flex;
    flex-wrap: nowrap;
    word-break: break-word;
    align-items: flex-end;
    text-align: right;
}
.display-item{
    width: 100%;
}