.calculator-wrapper{
    display: inline-block;
    width: 200px;
    margin: 20px;
    border: 2px solid gainsboro;
    border-radius: 4px;
}

.btns-block{
    padding: 10px;
    display: flex;
    flex-direction: column;
}