.btn-wrapper {
    width : 25%;
    border: 3px solid whitesmoke;
    background: gainsboro;
    line-height: 15px;
    padding: 10px;
}
.btn-equality{
    width: 100%;
}
.btn-wrapper:hover{
    background: lightblue;
}
.btn-wrapper:active{
    background: #9de69d;
}